
body {

  font-family: Roboto,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e015d;
}

.App{
  color:white;
}

.App a{
  color: aqua;
  float: right;
  padding: 2px
}

.App a:hover{
  color: white;
  size: 20px;
}

.App h1{
  font-size: 60px;
  text-align: center;
}

.hero-background{

}

.selling-points{

}


#hero-title{
  font-size: 20px
}

.landing{
  color:white;
}

.library{

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.album-container {
  display: inline-block;
}

.hero-title-container {
  display: inline-block;
  background-color: #3a393973;
  border-radius: 19px;
  box-shadow: 0px 0px 9px cyan;
}

#album-info {

}

#song-list {
  font-size: 15px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  left: 50%;
  margin-left: -100px;
  padding: 20px;
}
